.e2_15 { 
	overflow:hidden;
}
.e2_15 { 
	background-color:rgba(108.37500303983688, 91.21562540531158, 91.21562540531158, 1);
	width:1022px;
	height:883px;
	position:absolute;
}
.e1_2 { 
	background-color:rgb(106, 140, 160);
	width:291px;
	height:168px;
	position:absolute;
	left:124px;
	top:43px;
}
.e1_3 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:429px;
	height:113px;
	position:absolute;
	left:58px;
	top:226px;
}
.e1_4 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:429px;
	height:84px;
	position:absolute;
	left:58px;
	top:347px;
}
.e1_5 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:429px;
	height:122px;
	position:absolute;
	left:58px;
	top:441px;
}
.e1_6 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:429px;
	height:102px;
	position:absolute;
	left:58px;
	top:577px;
}
.e1_7 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:429px;
	height:125px;
	position:absolute;
	left:58px;
	top:693px;
}
.e1_8 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:403px;
	height:288px;
	position:absolute;
	left:551px;
	top:33px;
}
.e1_9 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:403px;
	height:166px;
	position:absolute;
	left:551px;
	top:333px;
}
.e1_10 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:403px;
	height:155px;
	position:absolute;
	left:551px;
	top:509px;
}
.e1_11 { 
	background-color:rgba(142.04297482967377, 191.8954637646675, 219.93750303983688, 1);
	width:403px;
	height:143px;
	position:absolute;
	left:551px;
	top:675px;
}
.e2_48 { 
	width:100px;
	height:103px;
	position:absolute;
	left:574px;
	top:715px;
	background-image:url(https://club.sov-teh.ru/upload/resize_cache/iblock/fa0/490_490_1/fa07556f19755b00b80edec825411ae2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:278px;
	height:151px;
	position:absolute;
	left:131px;
	top:49px;
	background-image:url(https://cdn.7days.ru/pic/ced/3E39778123A9C0DE43258673005BB4E4/1233736/90.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_18 { 
	width:71px;
	height:82px;
	position:absolute;
	left:66px;
	top:251px;
	background-image:url(https://cdn-icons-png.flaticon.com/512/483/483977.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_19 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:25px;
	position:absolute;
	left:71px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_20 { 
	width:46px;
	height:45px;
	position:absolute;
	left:156px;
	top:235px;
	background-image:url(https://cdn-icons-png.flaticon.com/512/5445/5445683.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_21 { 
	width:46px;
	height:46px;
	position:absolute;
	left:156px;
	top:281px;
	background-image:url(https://cdn-icons-png.flaticon.com/512/558/558442.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_22 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:40px;
	position:absolute;
	left:222px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_23 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:42px;
	position:absolute;
	left:221px;
	top:294px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e2_24 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:26px;
	position:absolute;
	left:71px;
	top:351px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e2_25 { 
	width:56px;
	height:56px;
	position:absolute;
	left:83px;
	top:370px;
	background-image:url(https://png.pngtree.com/png-vector/20231031/ourmid/pngtree-round-country-flag-united-state-png-image_10395370.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_26 { 
	width:67px;
	height:73px;
	position:absolute;
	left:259px;
	top:358px;
	background-image:url(https://di-ci.ru/images/new/12412512512412.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_27 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:55px;
	position:absolute;
	left:148px;
	top:380px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:27px;
	position:absolute;
	left:333px;
	top:381px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:387px;
	height:31px;
	position:absolute;
	left:71px;
	top:449px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_30 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:80px;
	position:absolute;
	left:104px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_31 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:61px;
	position:absolute;
	left:71px;
	top:583px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_32 { 
	width:63px;
	height:61px;
	position:absolute;
	left:179px;
	top:611px;
	background-image:url(https://cdn-icons-png.flaticon.com/512/2716/2716646.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_33 { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:39px;
	position:absolute;
	left:251px;
	top:616px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_34 { 
	color:rgba(0, 0, 0, 1);
	width:354px;
	height:37px;
	position:absolute;
	left:71px;
	top:701px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_36 { 
	color:rgba(0, 0, 0, 1);
	width:311px;
	height:70px;
	position:absolute;
	left:104px;
	top:737px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_42 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:29px;
	position:absolute;
	left:566px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_43 { 
	color:rgba(0, 0, 0, 1);
	width:372px;
	height:233px;
	position:absolute;
	left:564px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e2_44 { 
	color:rgba(0, 0, 0, 1);
	width:330px;
	height:41px;
	position:absolute;
	left:566px;
	top:340px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_45 { 
	width:131px;
	height:122px;
	position:absolute;
	left:582px;
	top:370px;
	background-image:url(https://game-tournaments.com/media/logo/t49182.png?38);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_46 { 
	color:rgba(0, 0, 0, 1);
	width:233px;
	height:169px;
	position:absolute;
	left:731px;
	top:348px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e2_47 { 
	color:rgba(0, 0, 0, 1);
	width:315px;
	height:21px;
	position:absolute;
	left:570px;
	top:687px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e2_49 { 
	width:136px;
	height:61px;
	position:absolute;
	left:688px;
	top:721px;
	background-image:url(https://cdn-icons-png.flaticon.com/256/9971/9971934.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_50 { 
	width:94px;
	height:95px;
	position:absolute;
	left:834px;
	top:708px;
	background-image:url(https://www.interestprograms.ru/content/img/articles/csharp_language.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_51 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:26px;
	position:absolute;
	left:566px;
	top:520px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_52 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:20px;
	position:absolute;
	left:564px;
	top:543px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_53 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:27px;
	position:absolute;
	left:750px;
	top:539px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e2_54 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:86px;
	position:absolute;
	left:555px;
	top:569px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e2_55 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:99px;
	position:absolute;
	left:744px;
	top:566px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
